@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter select-none text-green-600;
  }
}

@layer components {
  /* Big button with icon styles */
  .main-icon-button {
    @apply relative w-60 h-56 flex flex-col justify-center items-center 
    text-xl uppercase bg-green-900/10 hover:bg-green-900/40 active:bg-green-900/60 duration-100;
  }

  .main-icon {
    @apply text-3xl my-2 drop-shadow-small-neon-green;
  }

  .main-text {
    @apply text-xl font-semibold drop-shadow-small-neon-green;
  }

  .main-tl-corner {
    @apply absolute top-0 left-0 w-2 h-2 border-t-2 border-l-2 
    border-green-800 drop-shadow-small-neon-green group-hover:w-6 group-hover:h-6 group-hover:border-green-600 duration-100;
  }

  .main-tr-corner {
    @apply absolute top-0 right-0 w-2 h-2 border-t-2 border-r-2 
    border-green-800 drop-shadow-small-neon-green group-hover:w-6 group-hover:h-6 group-hover:border-green-600 duration-100;
  }

  .main-bl-corner {
    @apply absolute bottom-0 left-0 w-2 h-2 border-b-2 border-l-2 
    border-green-800 drop-shadow-small-neon-green group-hover:w-6 group-hover:h-6 group-hover:border-green-600 duration-100;
  }

  .main-br-corner {
    @apply absolute bottom-0 right-0 w-2 h-2 border-b-2 border-r-2 
    border-green-800 drop-shadow-small-neon-green group-hover:w-6 group-hover:h-6 group-hover:border-green-600 duration-100;
  }

  /* Small button styles */
  .small-button {
    @apply relative w-32 h-12 my-4 uppercase font-semibold 
    bg-green-900/20 hover:bg-green-900/40 active:bg-green-900/60 duration-100;
  }

  .small-tl-corner {
    @apply absolute top-0 left-0 w-2 h-2 border-t-2 border-l-2 
    border-green-800 drop-shadow-small-neon-green group-hover:w-[0.75rem] group-hover:h-[0.75rem] group-hover:border-green-600 duration-100;
  }

  .small-tr-corner {
    @apply absolute top-0 right-0 w-2 h-2 border-t-2 border-r-2 
    border-green-800 drop-shadow-small-neon-green group-hover:w-[0.75rem] group-hover:h-[0.75rem] group-hover:border-green-600 duration-100;
  }

  .small-bl-corner {
    @apply absolute bottom-0 left-0 w-2 h-2 border-b-2 border-l-2 
    border-green-800 drop-shadow-small-neon-green group-hover:w-[0.75rem] group-hover:h-[0.75rem] group-hover:border-green-600 duration-100;
  }

  .small-br-corner {
    @apply absolute bottom-0 right-0 w-2 h-2 border-b-2 border-r-2 
    border-green-800 drop-shadow-small-neon-green group-hover:w-[0.75rem] group-hover:h-[0.75rem] group-hover:border-green-600 duration-100;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(45, 45, 45);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(74, 74, 74);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(107, 107, 107);
  }
}
